[submodule "external/WiFiSpiESP"]
	path = external/WiFiSpiESP
	url = https://github.com/JiriBilek/WiFiSpiESP.git
[submodule "lib/WiFiSpi"]
	path = lib/WiFiSpi
	url = https://github.com/JiriBilek/WiFiSpi.git
[submodule "lib/Rtc"]
	path = lib/Rtc
	url = https://github.com/Makuna/Rtc.git
[submodule "lib/Scheduler"]
	path = lib/Scheduler
	url = https://github.com/arduino-libraries/Scheduler.git
