[submodule "external/WiFiSpiESP"]
	path = external/WiFiSpiESP
	url = https://github.com/JiriBilek/WiFiSpiESP.git
[submodule "lib/WiFiSpi"]
	path = lib/WiFiSpi
	url = https://github.com/JiriBilek/WiFiSpi.git
[submodule "lib/Scheduler"]
	path = lib/Scheduler
	url = https://github.com/arduino-libraries/Scheduler.git
[submodule "lib/SD"]
	path = lib/SD
	url = https://github.com/arduino-libraries/SD.git
[submodule "lib/TimeAlarms"]
	path = lib/TimeAlarms
	url = https://github.com/PaulStoffregen/TimeAlarms.git
[submodule "lib/JPEGDecoder"]
	path = lib/JPEGDecoder
	url = https://github.com/Bodmer/JPEGDecoder.git
[submodule "lib/Timezone"]
	path = lib/Timezone
	url = https://github.com/JChristensen/Timezone.git
